/* ----navbar---- */
.small-display{
    overflow: hidden;
}
nav{
    background-color: #128c7e;
    height: 100px;
}
.icon a{
    color: white;
}
.icon img{
    margin-left: 100px;
}
li.nav-item{
    font-weight: 200;
    font-size: medium;
    cursor: pointer;    
}

#navbarNav{
    margin: 0;
    width: 100%;
    padding-left: 10%;
    background-color: #128c7e;
    z-index: 1;
}
/* ----home section---- */
.image img{
    display: none;
}

.small-display > p{
    display: none;
}
.small-display > img{
    display: none;
}
.home-3 img{
    display: none;
}
#terms{
    color: rgb(116, 116, 116);
}
.contents p{
    display: none;
}

.middle{
    overflow: hidden;
}
@media screen and (min-width:1001px) {
    .explore button{
        margin-left: 40%;
        margin-top: 5%;
        width: 20%;
        height: 50px;
        background-color: transparent;
        border: 2px solid #19d69a;
        border-radius: 40px;
        color: #19d69a;
    }
    .middle{
        margin-top: 2%;
    }
}

@media screen and (max-width:1000px) {
    
    #whatsApp-icon{
        display: none;
    }
    .contents p{
        display: inline;
    }
    .links{
        display: none;
    }
    #playstore{
        max-width: 200px;
    }
    .home-1 > a{
        display: none;
    }
    .icon img{
        display: none;
    }
    .small-display{
        background-color: #128c7e;
        text-align: center;
        color: white;
        font-weight: 300;
        
    }
    .image img{
        margin-top: 10%;
        display: inline;

    }
    .small-display > img{
        display: inline;
        margin-top: 50px;
        width: 40%;
    }
    .home-1 p,h2{
        display: none;
    }
    .home-2{
        display: none;
    }
    .home-3 img{
        display: inline;
        width: 50%;
    }
    .explore button{
        margin-left: 25%;
        margin-top: 5%;
        width: 50%;
        height: 50px;
        background-color: transparent;
        border: 2px solid #19d69a;
        border-radius: 40px;
        color: #19d69a;
    }
    

}
.home-1{
    padding: 10%;
    padding-left: 10%;
}
.home-1 p,h2,a{
    word-wrap: break-word;
}
.home-2 img{
    width: 56%;
}

/* ------middle section------ */

.business-1{
    background-color: #d8e7eb;
    width: 90%;
    
}
.business-1 > img{
    width: 50%;
    margin-left: 25%;
}
.business-1 h1{
    margin-top: 10%;
    margin-left: 15%;

}
.business-1 p{
    max-width: 420px;
    margin-left: 15%;
}
.business-2{
    background-color: #e7f0e4;
    word-wrap: break-word;

}
.business-2 h4,h1{
    margin-top: 10%;
    margin-left: 7%;
    

}
.business-2 p{
    margin-left: 7%;
}
.business-2 > img{
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
}
/* ----footer---- */
footer{
    margin-top: 5%;
    background-color: #273443;
    color: white;
}
.foot{
    width: 200px;
    height: auto;
}
.foot > ul{
    list-style: none;
}
.second-footer{
    width: 100%;
    height: 50px;
    background-color: black;
}
.container-fluid{
    padding: 2%;
}