
nav{
    background-color: #128c7e;
    height: 100px;
}
.icon a{
    color: white;
}
.icon img{
    margin-left: 100px;
}
li.nav-item{
    font-weight: 200;
    font-size: medium;
    cursor: pointer;    
}

#navbarNav{
    padding-left: 10%;
}
.image img{
    display: none;
}
.small-display > p{
    display: none;
}
.small-display > img{
    display: none;
}
.home-3 img{
    display: none;
}
#terms{
    color: rgb(116, 116, 116);
}
.middle{
    overflow: hidden;
}
@media screen and (min-width:1001px) {
    .explore button{
        margin-left: 40%;
        margin-top: 5%;
        width: 20%;
        height: 50px;
        background-color: transparent;
        border: 2px solid #19d69a;
        border-radius: 40px;
        color: #19d69a;
    }
}

@media screen and (max-width:1000px) {
    
    #no{
        display: none;
    }
    .home-1 > a{
        display: none;
    }
    .icon img{
        display: none;
    }
    .small-display{
        background-color: #128c7e;
        text-align: center;
        color: white;
        font-weight: 300;
        
    }
    .image img{
        
        margin-top: 10%;
        display: inline;

    }
    .small-display > p{
        margin-top: 20px;
        display: inline;
    }
    .small-display > img{
        display: inline;
        margin-top: 50px;
        width: 40%;
    }
    .home-1 p,h2{
        display: none;
    }
    .home-2{
        display: none;
    }
    .home-3 img{
        display: inline;
        width: 50%;
    }
    .explore button{
        margin-left: 25%;
        margin-top: 5%;
        width: 50%;
        height: 50px;
        background-color: transparent;
        border: 2px solid #19d69a;
        border-radius: 40px;
        color: #19d69a;
    }
 

}
.container{
    margin-top: 10%;
}

.home-1 p,h2,a{
   /* margin-left: 20%; */
    word-wrap: break-word;
    /* width: 100px; */
}
.home-2 img{
    width: 50%;
}
.business-1{
    background-color: #d8e7eb;
}
.business-1 > img{
    width: 50%;
    margin-left: 25%;
}
.business-1 h1{
    margin-top: 10%;
    margin-left: 7%;

}
.business-1 p{
    max-width: 450px;
    margin-left: 7%;
}
.business-2{
    background-color: #e7f0e4;
    word-wrap: break-word;

}
.business-2 h4,p,h1{
    margin-top: 10%;
    margin-left: 7%;
    

}
.business-2 > img{
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
}

footer{
    background-color: #273443;
    color: white;
}
.foot{
    width: 200px;
    height: auto;
}